asciimatics==1.15.0
mpf==0.80.0.dev7
mpf-monitor==0.57.1
packaging==23.2
pillow==11.2.1
prompt-toolkit==3.0.43
psutil==5.9.8
pyfiglet==1.0.2
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.2
pyserial==3.5
pyserial-asyncio==0.6
ruamel.yaml==0.18.6
setuptools==72.2.0
sortedcontainers==2.4.0
terminaltables==3.1.10
wcwidth==0.2.13
